# User Configuration & Secrets
.env
config.json

# Persistent Data & Backups
data/
backups/

# Custom User Extensions
src/custom/

# Python & System
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.idea/
.vscode/
